<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header"><a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
        <div class="navbar-brand text-center">
            <a href="/" class="hidden-xs"><img src="assets/style/images/devPointLogo.png" alt=""
                                               data-src="assets/style/images/devPointLogo.png"
                                               data-ret="assets/style/images/devPointLogo.png" class="retina"/></a>
            <a href="/" class="visible-xs"><img src="assets/style/images/devPointLogo.png" alt=""
                                                data-src="assets/style/images/devPointLogo.png"
                                                data-ret="assets/style/images/devPointLogo.png" class="retina"/></a>

            <span class="hidden-lg hidden-xs">Jonathan Arellano</span>
        </div>
        <!-- /.navbar-brand -->
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="current hidden-sm hidden-xs"><a href="#home" class="hint--right" data-hint="home"><i
                    class="budicon-home-1"></i><span>Home</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="About Me"><i class="budicon-author"></i><span>About Me</span></a>
            </li>
            <li><a href="#services" class="hint--right" data-hint="Services"><i class="budicon-award"></i><span>Services</span></a>
            </li>
            <li><a href="#skills" class="hint--right" data-hint="Skills"><i class="budicon-pie-chart"></i><span>Skills</span></a>
            </li>
            <li><a href="#portfolio" class="hint--right" data-hint="Projects"><i class="budicon-image"></i><span>Portfolio</span></a>
            </li>
        </ul>
        <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
    <div id="elsewhere" style="display:none;">
        <h1>Me, Elsewhere</h1>
        <div class="divide20"></div>
        <ul class="social">
            <li><a href="#"><i class="icon-s-instagram"></i></a></li>
            <li><a href="#"><i class="icon-s-flickr"></i></a></li>
            <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
        </ul>
    </div>
    <!-- /#elsewhere -->
</nav>
<!-- /.navbar -->