<section id="about">
    <div class="box">
        <h2 class="section-title">About Me</h2>
        <div class="row">
            <div class="col-xs-8 col-xs-push-2 col-sm-8 col-sm-push-2 col-md-4 col-md-push-8 ">
                <figure class="frame"><img src="/style/images/ProfilePhoto.jpg" alt="" /></figure>
            </div>
            <!-- /column -->
            <div class="col-md-8 col-md-pull-4 col-sm-12 col-xs-12">
                <p class="lead">Do what you love to do and let software do the tedious and repetitive stuff. </p>
                <p>Hello my name is Jonathan and I am a software engineer focusing on optimizing business processes and procedures through software development and proper employee training.</p>
                <p>I graduated with a degree in Construction Management but after enduring many tedious and inefficient processes, my passion has shifted to automation and optimization through software development. Over the last three years I have developed small efficiency apps which allow people to get back to working on what they truly love to do. </p>
                <p>I started with small macros in Outlook and Excel and soon after began creating desktop applications in C# and Java as well as web apps in NodeJs/Express and ASP.NET.</p>
                <p>My experience has mainly been from self learning but over the last six months I have gone through the UCLA Coding Bootcamp where my skills have grown to a new level. The bootcamp focused on Web Applications using NodeJs and Express but I have learned to apply all the coding concepts and industry standards towards other languages such as Java and C#.</p>
                <p>I love to learn and am fast at solving any challenge thrown at me. Above all my true passion comes from teaching people that a little extra time in learning something new can cause hours of time saved.</p>
                <p>If you're ready to be more efficient at work or in your own business contact me and let's get started.</p>

            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="clearfix"></div>
        <div class="divide40"></div>
        <!--<h2 class="section-title">My Services</h2>-->
        <!--<div class="divide10"></div>-->


    </div>
    <!-- /.box -->
</section>
<!-- /#about -->
