<section id="about">
    <div class="box">
        <h2 class="section-title">About Me</h2>
        <div class="row">
            <div class="col-sm-4">
                <img id='img-upload' ng-src="[[user.profileImage]]"/>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>Change Image</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… <input type="file" id="imgInp">
                            </span>
                        </span>
                        <!--<input type="text" class="form-control" readonly>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.services-2 -->
        <div class="divide30"></div>
        <div class="form-container">
            <div class="response alert alert-success"></div>
            <form class="forms" ng-submit="updateUser()" method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-row text-input-row name-field">
                                <label>First Name</label>
                                <input type="text" name="name" class="text-input defaultText required"
                                       ng-model="user.firstName"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-row text-input-row name-field">
                                <label>Last Name</label>
                                <input type="text" name="name" class="text-input defaultText required"
                                       ng-model="user.lastName"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row text-input-row email-field">
                                <label>Email</label>
                                <input type="text" name="email" class="text-input defaultText required email"
                                       ng-model="user.email"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row text-input-row subject-field">
                                <label>Headline</label>
                                <input type="text" name="headline" class="text-input defaultText required"
                                       ng-model="user.headline"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row text-area-row">
                                <label>Description</label>
                                <textarea name="message" class="text-area required"
                                          ng-model="user.description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row text-input-row name-field alert alert-danger">
                            [[message]]
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="button-row pull-right">
                                <input type="submit" class="btn btn-submit bm0"/>
                            </div>

                            <div class="button-row pull-right">
                                <input type="reset" value="Clear Message" name="reset" class="btn btn-submit bm0"/>
                            </div>
                        </div>
                        <input type="hidden" name="v_error" id="v-error" value="Required"/>
                        <input type="hidden" name="v_email" id="v-email" value="Enter a valid email"/>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /.form-container -->

    </div>
    <!-- /.box -->
</section>
<!-- /#contact -->

<!-- /#about -->
