<section id="about">
    <div class="box">
        <h2 class="section-title">About Me</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img id='img-upload' />
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Upload Image</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Browse… <input type="file" id="imgInp">
                    </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="" ng-submit="createItem('services')">
                    <fieldset>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Name</label>
                                 </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" name="name" class="text-input defaultText required" ng-model="curItem.name" />
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Headline</label>
                                 </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" name="name" class="text-input defaultText required" ng-model="curItem.headline" />
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Description</label>
                                 </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                   <textarea name="description" class="text-area required" ng-model="curItem.description"></textarea>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 lp5">
                                <div class="button-row pull-left">
                                    <button type="button" ng-click="close(true)" class="btn btn-primary">Update</button>
                                </div>
                            </div>   
                        </div>
                    </fieldset>
                </form>
            </div>
    <!-- /.row -->
    <div class="clearfix"></div>
    <div class="divide40"></div>
    <!--<h2 class="section-title">My Services</h2>-->
    <!--<div class="divide10"></div>-->
    </div>
    <!-- /.box -->
</section>
<!-- /#about -->
