<section id="about">
    <div class="box">
        <h2 class="section-title">About Me</h2>
        <div class="row">

            <div class="col-sm-3">
                <img cl-src="[[user.profileImage]]"
                     dpr="auto"
                     fetch-format="auto"
                     ng-show="user.profileImage" class="img-responsive">
                <button class="btn" file-selector on-select="uploadFile(file)" accept=".jpg, .png, .jpeg">Change Image
                </button>
            </div>

            <div class="col-sm-5">
                <div class="clearfix"></div>
                <div class="divide10"></div>
                <div class="row">
                    <div class="col-xs-12" ng-repeat="x in user.link">
                        <div class="text">
                            <div>
                                <i class="[[x.icon]]"></i> [[x.name]] |
                                <a href ng-click="show('link', [[x]])">Update</a> |
                                <a href ng-click="deleteItem([[x.id]], 'link')">Delete</a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <a href ng-click="show('link')">Create New Social Link</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h3>Templates</h3>


                    <select name="two" class="dropdown-select" ng-model="user.template">
                        <option value="">Select…</option>
                        <option value="Template1">Template #1</option>
                    </select>
                    <button type="button" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-default" ng-click="updateTemplate()">Save</button>
                    <button type="button" class="btn btn-default">Launch</button>
                </div>
            </div>
        </div>
        <!-- /.services-2 -->
        <div class="divide30"></div>
        <div class="form-container">
            <div class="response alert alert-success"></div>
            <div class="row">
                <div class="col-md-12">
                    <label>UserName</label>
                    <input type="text" name="username" class="text-input defaultText required"
                           ng-model="user.username" required/>
                </div>
                <div class="col-md-12">
                    <label>Email</label>
                    <input type="text" name="email" class="text-input defaultText required"
                           ng-model="user.email" required/>
                </div>
            </div>

            <form class="forms" name="aboutForm" ng-submit="updateProfile()" method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>First Name</label>
                            <input type="text" name="firstName" class="text-input defaultText"
                                   ng-model="user.profile[0].firstName"
                                   required/>
                            <p ng-show="aboutForm.firstName.$invalid" class="help-block">Your First Name is required.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <label>Last Name</label>
                            <input type="text" name="lastName" class="text-input defaultText"
                                   ng-model="user.profile[0].lastName"
                                   required/>
                            <p ng-show="aboutForm.lastName.$invalid" class="help-block">Your Last Name is required.</p>
                        </div>

                        <div class="col-md-12">
                            <label>Headline</label>
                            <input type="text" name="headline" class="text-input defaultText"
                                   ng-model="user.profile[0].headline"
                                   required/>
                        </div>
                        <div class="col-md-12">
                            <label>Description</label>
                            <textarea name="message" class="text-area" ng-model="user.profile[0].description"></textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row text-input-row name-field alert alert-danger" style="display:none;">
                                [[message]]
                            </div>
                            <input class="alert alert-success" ng-show="message" ng-model="message">
                        </div>
                        <div class="col-md-12">
                            <div class="button-row pull-right">
                                <input type="submit" class="btn btn-submit bm0"/>
                            </div>
                            <div class="button-row pull-right">
                                <input type="reset" value="Clear Message" name="reset" class="btn btn-submit bm0"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- /.form-container -->
        </div>
    </div>
    </div>
    <!-- /.box -->
</section>
<!-- /#contact -->
<!-- /#about -->
