<section id="about">
    <div class="box">
        <h2 class="section-title">About Me</h2>
        <div class="row">
            <div class="col-md-4 col-md-push-8 col-sm-12">
                <figure class="frame"><img src="/style/images/ProfilePhoto.jpg" alt="" /></figure>
            </div>
            <!-- /column -->
            <div class="col-md-8 col-md-pull-4 col-sm-12">
                <p class="lead">Focusing on optimizing business process through process mapping, app development, and employee training. </p>
                <p>Hello my name is Jonathan and I am a software engineer focusing on optimizing business processes and procedures.</p>
                <p>I graduated with a degree in Construction Management but after enduring many tedious and inefficient processes, my passion has shifted to automation and optimization through software development. Over the last three years I have developed small efficiency apps which allow people to get back to working on what they truely love to do. </p>
                <p>I start with small macros in Outlook and Excel and soon after began creating desktop applications in C# and Java as well as web apps in NodeJs/Express and ASP.NET.</p>

            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="clearfix"></div>
        <div class="divide40"></div>
        <h2 class="section-title">My Services</h2>
        <div class="divide10"></div>
        {{> services}}

    </div>
    <!-- /.box -->
</section>
<!-- /#about -->
