<section id="contact">
    <div class="box">
        <h2 class="section-title">Get in Touch with Me</h2>
        <p>Do you have a cool project in mind? Send me a message and let's see how to get you up and running. If you're another developer looking to collaborate, hit me up and let's see what we can come up with. If you just like my work and want to send me a shout out, I'd appreciate that as well.</p>
        <div class="divide20"></div>
        <div class="row text-center services-2">
            <div class="col-md-3 col-sm-4"> <i class="budicon-map"></i>
                <p>Los Angeles / Santa Monica</p>
            </div>
            <div class="col-md-3 col-sm-4"> <i class="budicon-mail"></i>
                <p> <a class="nocolor" href="mailto:#">jonathan.arellano.216@gmail.com</a></p>
            </div>
            <div class="col-md-3 col-sm-4"> <i class="icon-s-github"></i>
                <p> <a class="nocolor" href="https://github.com/jarellano01" target="_blank">GitHub</a></p>
            </div>
            <div class="col-md-3 col-sm-4"> <i class="icon-s-linkedin"></i>
                <p> <a class="nocolor" href="https://www.linkedin.com/in/jonathan-arellano-85749b5b?trk=hp-identity-name" target="_blank">LinkedIn</a></p>
            </div>
        </div>
        <!-- /.services-2 -->
        <div class="divide30"></div>
        <div class="form-container">
            <div class="response alert alert-success"></div>
            <form class="forms" action="/contact" method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row text-input-row name-field">
                                <label>Name</label>
                                <input type="text" name="name" class="text-input defaultText required"/>
                            </div>
                            <div class="form-row text-input-row email-field">
                                <label>Email</label>
                                <input type="text" name="email" class="text-input defaultText required email"/>
                            </div>
                            <div class="form-row text-input-row subject-field">
                                <label>Subject</label>
                                <input type="text" name="subject" class="text-input defaultText"/>
                            </div>
                        </div>
                        <div class="col-md-6 lp5">
                            <div class="form-row text-area-row">
                                <label>Message</label>
                                <textarea name="message" class="text-area required"></textarea>
                            </div>
                            <div class="form-row hidden-row">
                                <input type="hidden" name="hidden" value="" />
                            </div>
                            <div class="nocomment">
                                <label for="nocomment">Leave This Field Empty</label>
                                <input id="nocomment" value="" name="nocomment" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="button-row pull-right">
                                <input type="submit" value="Send Message" name="submit" class="btn btn-submit bm0" />
                            </div>
                        </div>
                        <div class="col-sm-6 lp5">
                            <div class="button-row pull-left">
                                <input type="reset" value="Clear Message" name="reset" class="btn btn-submit bm0" />
                            </div>
                        </div>
                        <input type="hidden" name="v_error" id="v-error" value="Required" />
                        <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /.form-container -->

    </div>
    <!-- /.box -->
</section>
<!-- /#contact -->
