<footer class="footer box">
    <p class="pull-left">© 2016 Jonathan Arellano. All Right Reserved. </p>
    <ul class="social pull-right">
        <li><a href="https://www.linkedin.com/in/jonathan-arellano-85749b5b?trk=hp-identity-name" target="_blank"><i class="icon-s-linkedin"></i></a></li>
        <li><a href="https://github.com/jarellano01" target="_blank"><i class="icon-s-github"></i></a></li>
    </ul>
    <div class="clearfix"></div>
</footer>
<!-- /footer -->
