<section id="portfolio" class="portfolio">
    <div class="box">
        <h2 class="section-title pull-left">My Portfolio</h2>
        <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#add-portfolio">
            Add Project
        </button>

        <div class="clearfix"></div>
        <div class="divide10"></div>
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                <h3>Project 1</h3>
                <p>Github: </p>
                <p>Video: </p>
                <p>Live Demo: </p>
            </div>
        </div>
      {{> modals/add-project}}
        <!-- /.box -->
</section>
<!-- /#portfolio -->
