<section id="services" class="services">
    <div class="box services">
        <div class="services-1">
            <div class="row">
                <h2 class="section-title pull-left">My Services</h2>

                <button type="button" class="btn btn-info btn-lg pull-right" ng-submit="createItem('project')" ng-click="show('service')">
                    Add Service
                </button>
            </div>

            {{!-- <div class="clearfix"></div>
            <div class="divide10"></div> --}}
            <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="x in user.service">
                        <div class="text">
                            <div class="text-center">
                                <h1><i class="[[x.icon]]"></i></h1><h4>[[x.name]]</h4>
                                <p class="service-description">[[x.service]][[x.description]]</p>
                                <a href ng-click="show('service', [[x]])">Update</a> |
                                <a href ng-click="deleteItem([[x.id]], 'service')">Delete</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Modal -->
  {{> modals/add-service}}

</section>



