<section id="services" class="services">
    <div class="box services">



        <div class="services-1">
            <h2 class="section-title pull-left">My Services - [[firstName]]</h2>

            <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#add-service">
                Add Service
            </button>


            <div class="clearfix"></div>
            <div class="divide10"></div>

            <div class="row">

                <div class="col-md-4 col-sm-6" ng-repeat="x in user.services">
                    <div class="icon"><i class="budicon-code icn"></i></div>
                    <!-- /.icon -->
                    <div class="text">
                        <h5>[[x.name]]</h5>
                        <p>[[x.description]]</p>

                        <button type="button" class="btn btn-link" ng-click="deleteItem([[x.id]], 'service')">Delete</button>


                    </div>
                    <!-- /.text -->
                </div>


            </div>
        </div>
    </div>
    <!-- Modal -->
  {{> modals/add-service}}

</section>



