<section id="social" class="social">
    <div class="box social">
        <div class="social-1">
            <h2 class="section-title pull-left">Social</h2>
          {{#if admin}}
              <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#add-service">Add Social Links
              </button>
          {{/if}}

            <div class="clearfix"></div>
            <div class="divide10"></div>
            <div class="row" >

                  {{!-- <div class="col-md-4 col-sm-6" ng-repeat="x in services" >
                      <div class="icon"><i class="budicon-code icn"></i></div>
                      <!-- /.icon -->
                      <div class="text">
                          <h5>[[x.name]]</h5>
                          <p>[[x.description]]</p>
                          {{#if admin}}
                              <button type="button" class="btn btn-link" ng-click="delete([[x.id]])">Delete</button>
                          {{/if}}

                      </div> --}}
                      <!-- /.text -->
                  </div>

            </div>
        </div>
    </div>

</section>