<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jonathan Arellano">
    <!--<link rel="shortcut icon" href="style/images/favicon.png">-->

    <title>DEV POINT | TECH </title>
    <!-- Bootstrap core CSS -->
    <link href="assets/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/style/css/plugins.css" rel="stylesheet">
    <link href="assets/style/css/prettify.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
    <link href="assets/custom.css" rel="stylesheet">
    <link href="assets/style/css/color/blue.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet'type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet'type='text/css'>
    <link href="assets/style/type/fontello.css" rel="stylesheet">
    <link href="assets/style/type/budicons.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
  <!--<script src="assets/style/js/html5/shiv.js"></script>-->
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
</head>

<body class="full-layout">
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<div class="body-wrapper" ng-controller="appController">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
        <div class="navbar-brand text-center">
            <a href="/" class="hidden-xs"><img src="assets/style/images/devPointLogo.png" alt="" data-src="assets/style/images/devPointLogo.png" data-ret="assets/style/images/devPointLogo.png" class="retina" /></a>
            <a href="/" class="visible-xs"><img src="assets/style/images/devPointLogo.png" alt="" data-src="assets/style/images/devPointLogo.png" data-ret="assets/style/images/devPointLogo.png" class="retina" /></a>

            <span class="hidden-lg hidden-xs">Jonathan Arellano</span>
        </div>
        <!-- /.navbar-brand -->
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="current hidden-sm hidden-xs"><a href="#home" class="hint--right" data-hint="home"><i class="budicon-home-1"></i><span>Home</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="About Me"><i class="budicon-author"></i><span>About Me</span></a></li>
            <li><a href="#services" class="hint--right" data-hint="Services"><i class="budicon-award"></i><span>Services</span></a></li>
            <li><a href="#skills" class="hint--right" data-hint="Skills"><i class="budicon-pie-chart"></i><span>Skills</span></a></li>
            <li><a href="#portfolio" class="hint--right" data-hint="Projects"><i class="budicon-image"></i><span>Portfolio</span></a></li>
        </ul>
        <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
    <div id="elsewhere" style="display:none;">
        <h1>Me, Elsewhere</h1>
        <div class="divide20"></div>
        <ul class="social">
            <li><a href="#"><i class="icon-s-instagram"></i></a></li>
            <li><a href="#"><i class="icon-s-flickr"></i></a></li>
            <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
        </ul>
    </div>
    <!-- /#elsewhere -->
</nav>
<!-- /.navbar -->


  <div class="container-fluid">
    <section id="home">
        <div class="box">
            <h1 class="section-title" style="text-align:center">[[user.firstName]] - Welcome to Your DevPoint Dashboard</h1>
        </div>
    </section>

  <section id="about">
    <div class="box">
        <h2 class="section-title">About Me</h2>
        <div class="row">

            <div class="col-sm-3">
                <img cl-src="[[user.profile[0].profileImage]]"
                     dpr="auto"
                     fetch-format="auto"
                     ng-show="user.profile[0].profileImage" class="img-responsive">
                     <br>
                <button class="btn" file-selector on-select="uploadFile(file)" accept=".jpg, .png, .jpeg">Change Image
                </button>
            </div>

            <div class="col-sm-5">
                <div class="clearfix"></div>
                <div class="divide10"></div>
                <div class="row">
                    <div class="col-xs-12" ng-repeat="x in user.link">
                        <div class="text">
                            <div>
                                <i class="[[x.icon]]"></i> [[x.name]] |
                                <a href ng-click="show('link', [[x]])">Update</a> |
                                <a href ng-click="deleteItem([[x.id]], 'link')">Delete</a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <a href ng-click="show('link')">Create New Social Link</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h3>Templates</h3>


                    <select name="two" class="dropdown-select" ng-model="user.profile[0].template">
                        <option value="">Select…</option>
                        <option value="Template1">Template #1</option>
                    </select>
                    <button type="button" class="btn btn-default">Launch</button>
                </div>
            </div>
        </div>
        <!-- /.services-2 -->
        <div class="divide30"></div>
        <div class="row text-center">
                <div class="col-sm-6">
                    <label>UserName</label>
                    <h3>[[user.username]]</h3>
                </div>
                <div class="col-sm-6">
                    <label>Email</label>
                    <h3>[[user.email]]</h3>
                </div>
            </div>
        <div class="form-container">
            <div class="response alert alert-success"></div>
            <button type="button" class="btn btn-default">Change Password</button>
              <div class="divide30"></div>
            <br>
            <form class="forms" name="aboutForm" >
            <h1>My Info</h1>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>First Name</label>
                            <input type="text" name="firstName" class="text-input defaultText"
                                   ng-model="user.profile[0].firstName"
                                   required/>
                            <p ng-show="aboutForm.firstName.$invalid" class="help-block">Your First Name is required.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <label>Last Name</label>
                            <input type="text" name="lastName" class="text-input defaultText"
                                   ng-model="user.profile[0].lastName"
                                   required/>
                            <p ng-show="aboutForm.lastName.$invalid" class="help-block">Your Last Name is required.</p>
                        </div>

                        <div class="col-md-12">
                            <label>Headline</label>
                            <input type="text" name="headline" class="text-input defaultText"
                                   ng-model="user.profile[0].headline"
                                   required/>
                        </div>
                        <div class="col-md-12">
                            <label>Description</label>
                            <textarea name="message" class="text-area"
                                      ng-model="user.profile[0].description"></textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row text-input-row name-field alert alert-danger" style="display:none;">
                                [[message]]
                            </div>
                            <input class="alert alert-success" ng-show="message" ng-model="message">
                        </div>
                        <div class="col-md-12">
                            <div class="button-row pull-right">
                              <button class="btn btn-default" ng-click="updateProfile()">Save</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- /.form-container -->
        </div>
    </div>

    <!-- /.box -->
</section>
<!-- /#contact -->
<!-- /#about -->

<section id="services" class="services">
    <div class="box services">
        <div class="services-1">
            <div class="row">
                <h2 class="section-title pull-left">My Services</h2>

                <button type="button" class="btn btn-info btn-lg pull-right" ng-submit="createItem('project')" ng-click="show('service')">
                    Add Service
                </button>
            </div>

            <div class="clearfix"></div>
            <div class="divide10"></div>
            <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="x in user.service">
                        <div class="text">
                            <div class="text-center">
                                <h1><i class="[[x.icon]]"></i></h1><h4>[[x.name]]</h4>
                                <p class="service-description">[[x.service]][[x.description]]</p>
                                <a href ng-click="show('service', [[x]])">Update</a> |
                                <a href ng-click="deleteItem([[x.id]], 'service')">Delete</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<section id="skills" class="skills">
    <div class="box skills">
        <div class="skills-1">
            <h2 class="section-title pull-left">My Skills</h2>
            <button type="button" class="btn btn-info btn-lg pull-right" ng-click="show('skill')">
                Add Skill
            </button>


            <div class="clearfix"></div>
            <div class="divide10"></div>
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="x in user.skill">
                    <!-- /.icon -->
                    <div class="text">
                        <div class="text-center">
                            <h4><i class="[[x.icon]]"></i> [[x.name]]</h4>
                            <a href ng-click="show('skill', [[x]])">Update</a> |
                            <a href ng-click="deleteItem([[x.id]], 'skill')">Delete</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="portfolio" class="portfolio">
    <div class="box">
        <h2 class="section-title pull-left">My Portfolio</h2>
        <button type="button" class="btn btn-info btn-lg pull-right" ng-click="show('project')">
            Add Project
        </button>

        <div class="clearfix"></div>
        <div class="divide10"></div>
        <div class="row" ng-repeat="x in user.project">
            <div class="col-sm-12">
                <h3>[[x.name | uppercase]]</h3>
                <a href ng-click="show('project', [[x]])">Update</a> |
                <a href ng-click="deleteItem([[x.id]], 'project')">Delete</a>
            </div>
            <div class="col-sm-4">
                <p ng-show="x.category"><b>Category:</b> [[x.category]]</p>
                <p ng-show="x.github"><b>Github:</b> [[x.github]]</p>
                <p ng-show="x.liveDemo"><b>Live Demo:</b> [[x.liveDemo]]</p>
                <p ng-show="x.other"><b>Other:</b> [[x.other]]</p>
            </div>
            <div class="col-sm-6">
                <p><b>Description:</b></p>
                <p>[[x.description]]</p>
            </div>
        </div>
    </div>
</section>
<footer class=" box">
    <p class="pull-left">© 2016 Dev Point Tech - All Right Reserved. </p>
    <ul class="social pull-right">

        <li><a href="https://www.linkedin.com/in/jonathan-arellano-85749b5b?trk=hp-identity-name" target="_blank"><i class="icon-s-linkedin"></i></a></li>
        <li><a href="https://github.com/jarellano01" target="_blank"><i class="icon-s-github"></i></a></li>
    </ul>
    <div class="clearfix"></div>
</footer>

</div>

    <!-- /.container -->
</div>

<!-- /.body-wrapper -->
<script src="assets/style/js/jquery.min.js"></script>
<script src="assets/style/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


<script src="assets/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
<script src="assets/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="assets/bower_components/angular-cloudinary/angular-cloudinary.js"></script>
<script src="assets/bower_components/angular-file-selector/angular-file-selector.js"></script>


<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

<script src="assets/style/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/style/js/classie.js"></script>
<script src="assets/style/js/plugins.js"></script>
<script src="assets/style/js/scripts.js"></script>

<script src="assets/js/app.js"></script>


<script>
    //    $.backstretch(["assets/style/images/art/bg1.jpg"]);
    $.backstretch(["assets/style/images/home-bg.jpg"]);
</script>

</body>
</html>
