<!-- Begin about us ===
      =============================== -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Begin heading
                              ===================
                              -->
                <div class="heading heading-md heading-uppercase heading-left heading-hover wow fadeIn">
                    <span class="heading-title-ghost">About Me</span>
                    <h2 class="heading-title">About Me</h2>
                    <!-- Begin divider
                                    ===================
                                    -->
                    <hr class="hr-width-1 hr-5x border-main">
                    <!-- End divider -->
                </div>
                <!-- End heading -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-xs-6 col-md-5">
                <div class="about-img">
                    <img src="/style/images/ProfilePhoto.jpg" alt="About Me" />
                </div>
            </div> <!-- /.col -->
            <div class="col-md-7">
                <div class="about-text">
                    <p class="heading-tescription lead margin-auto">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now u
                    </p>
                </div>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
<!-- End About-->
