<section id="contact" class="contact-section bg-dark bg-image-parallax" style="background-image: url(/assets/img/background/contact-bg.jpg);">
    <!-- Element cover
            ===================
            -->
    <span class="cover bg-transparent-9-dark bg-transparent-gradient-1"></span>
    <div class="container">
        <div class="row wow fadeIn">
            <!-- Left column -->
            <div class="col-md-7">
                <!-- Begin heading
                              ===================
                              -->
                <div class="heading heading-md heading-uppercase heading-hover">
                    <span class="heading-title-ghost">Contact Me</span>
                    <h2 class="heading-title text-white">Contact Me</h2>
                    <!-- Begin divider
                                    ===================
                                    -->
                    <hr class="hr-width-1 hr-5x border-main">
                    <!-- End divider -->
                    <p class="heading-tescription lead text-gray-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <!-- End heading -->
            </div> <!-- /.col -->

            <!-- Right column -->
            <div class="col-md-5 text-gray-2 padding-left-40">
                <div class="contact-info">
                    <p><i class="fa fa-home"></i> Abcd, New York Address</p>
                    <p><i class="fa fa-phone"></i> phone: +00 000 000</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:abcd@info.com" target="_blank">abcd@info.com</a></p>
                </div>

                <h5 class="margin-top-40 margin-bottom-20">Follow Me:</h5>

                <!-- Begin social icons -->
                <ul class="social-icons margin-bottom-20">
                    <li><a class="btn btn-social-min btn-white-bordered btn-lg" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="btn btn-social-min btn-white-bordered btn-lg" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="btn btn-social-min btn-white-bordered btn-lg" href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="btn btn-social-min btn-white-bordered btn-lg" href="" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="btn btn-social-min btn-white-bordered btn-lg" href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <!-- End social icons -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <!-- Begin contact form
                              ========================= -->
                <form id="contact-form" class="margin-top-80 text-white wow fadeIn" data-wow-delay="0.3s">
                    <!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
                    <input type="hidden" name="project_name" value="yourwebsiteaddress.com">
                    <input type="hidden" name="admin_email" value="your@email.com">
                    <input type="hidden" name="form_subject" value="Message from yourwebsiteaddress.com">
                    <!-- End Hidden Required Fields -->

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control no-rounded" name="Name:" placeholder="Your Name" required="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="email" class="form-control no-rounded" name="Email:" placeholder="Your Email" required="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control no-rounded" name="Subject:" placeholder="Subject" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control no-rounded" name="Message:" rows="8" placeholder="Your Message (text only)" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Send Message</button>
                        </div>
                    </div>
                </form>
                <!-- End contact form -->

            </div> <!-- /.col-->
        </div> <!-- /.row -->
    </div> <!-- /.container -->

</section>
<!-- End section 8 -->
