<!-- Begin skills ===
      =============================== -->
<section id="skills" class="services-section bg-dark bg-image-parallax" style="background-image: url(/assets/img/background/skill-bg.jpeg);">
    <!-- Element cover ===
            ================== -->
    <span class="cover bg-transparent-8-5-dark"></span>
    <div class="container">
        <div class="row">

            <!-- Left column -->
            <div class="col-md-6">
                <!-- Begin heading ===
                              ================== -->
                <div class="heading heading-md heading-uppercase text-white heading-hover wow fadeIn" data-wow-delay="0.2s">
                    <span class="heading-title-ghost">My Skills</span>
                    <h2 class="heading-title">My Skills</h2>
                    <!-- Begin divider
                                    ===================
                                    -->
                    <hr class="hr-width-1 hr-5x border-main">
                    <!-- End divider -->
                    <p class="heading-tescription lead text-gray-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.
                    </p>
                </div>
                <!-- End heading -->
            </div> <!-- /.col -->

            <!-- Right column -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Begin info box-4 -->
                        <div class="info-box info-box-4 info-box-white wow fadeIn">
                            <span class="info-box-icon square-icon bg-main text-white"><i class="fa fa-paint-brush"></i></span>
                            <div class="info-box-info">
                                <h4 class="info-box-title">Designing</h4>
                                <p class="info-box-text text-gray-2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit minim veniam ut enim.
                                </p>
                            </div>
                        </div>
                        <!-- End info box-4 -->
                    </div> <!-- /.col -->

                    <div class="col-md-12">
                        <!-- Begin info box-4 -->
                        <div class="info-box info-box-4 info-box-white wow fadeIn" data-wow-delay="0.2s">
                            <span class="info-box-icon square-icon bg-main text-white"><i class="fa fa-code"></i></span>
                            <div class="info-box-info">
                                <h4 class="info-box-title">Developing</h4>
                                <p class="info-box-text text-gray-2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit minim veniam ut enim.
                                </p>
                            </div>
                        </div>
                        <!-- End info box-4 -->
                    </div> <!-- /.col -->

                    <div class="col-md-12">
                        <!-- Begin info box-4 -->
                        <div class="info-box info-box-4 info-box-white wow fadeIn" data-wow-delay="0.2s">
                            <span class="info-box-icon square-icon bg-main text-white"><i class="fa fa-code"></i></span>
                            <div class="info-box-info">
                                <h4 class="info-box-title">Developing</h4>
                                <p class="info-box-text text-gray-2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit minim veniam ut enim.
                                </p>
                            </div>
                        </div>
                        <!-- End info box-4 -->
                    </div> <!-- /.col -->

                    <div class="col-md-12">
                        <!-- Begin info box-4 -->
                        <div class="info-box info-box-4 info-box-white wow fadeIn" data-wow-delay="0.4s">
                            <span class="info-box-icon square-icon bg-main text-white"><i class="fa fa-globe"></i></span>
                            <div class="info-box-info">
                                <h4 class="info-box-title">Branding</h4>
                                <p class="info-box-text text-gray-2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit minim veniam ut enim.
                                </p>
                            </div>
                        </div>
                        <!-- End info box-4 -->
                    </div> <!-- /.col -->
                </div><!-- /.row -->
            </div> <!-- /.col -->

        </div><!-- /.row -->
    </div> <!-- /.container -->
</section>
<!-- Skills -->
