<!-- Begin Services ===
      =============================== -->
<section id="social" class="social-section">
    <div class="box social">
        <div class="row">
            <div class="col-md-12">
                <!-- Begin heading
                              ===================
                              -->
                <div class="heading heading-md heading-uppercase heading-left heading-hover wow fadeIn">
                    {{!-- <span class="heading-title-ghost">Social</span> --}}
                    <h2 class="heading-title">Social</h2>
                    <!-- Begin divider
                                    ===================
                                    -->
                    <hr class="hr-width-1 hr-5x border-main">
                    <!-- End divider -->
                </div>
                <!-- End heading -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        {{!-- <div class="row wow fadeIn" data-wow-delay="0.3s"
             style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"> --}}
          {{!-- {{#each services}}
              <div class="col-sm-6 col-md-4">
                  <!-- Begin info box-1 -->
                  <div class="info-box info-box-1">
                      <span class="info-box-icon"><i class="fa fa-clone"></i></span>
                      <div class="info-box-info">
                          <h4 class="info-box-title">{{this.title}}</h4>
                          <p class="info-box-text">
                            {{this.description}}
                          </p>
                      </div>
                  </div>
                  <!-- End info box-1 -->
              </div> <!-- /.col -->
          {{/each}} --}}
        {{!-- </div> --}} <!-- /.row -->
    </div>
</section>
<!-- Services -->
