<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>DEV POINT | PORTFOLIO </title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="This is a portfolio website">
    <meta name="keywords" content="Portfolio, Website" />
    <meta name="author" content="https://www.fiverr.com/users/moupinky941">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google font (https://www.google.com/fonts) -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700' rel='stylesheet' type='text/css'> <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'> <!-- Alternative font -->
    <!-- Bootstrap CSS (http://getbootstrap.com) -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/animate.min.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.carousel.plugins.css">
    <link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.theme.default.css">
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/css/magnific-popup.css">
    <!-- Theme master CSS -->
    <link rel="stylesheet" href="/assets/css/helper.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
</head>

<body data-spy="scroll" data-target="#scrollspy">
<!-- Begin body content -->
<div id="body-content">
    <!-- ==============
          ///// Begin header
          =================== -->
    <header id="header-wrap">
        <!-- Begin Header content
                ==========================
                -->
        <div id="header" class="header-md fixed-top header-dark semi-transparent">
            <div id="scrollspy" class="container header-container">
                <!-- Begin logo  -->
                <div class="logo font-alter-1">
                    <a href="index.html"><h1>DEV POINT</h1></a>
                </div>
                <!-- End logo -->
                <!-- Begin navbar
                            ================== -->
                <nav class="navbar pull-right">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- End toggle button-->
                    <!-- Begin nav main
                                  ====================
                                  -->
                    <div id="nav-main" class="collapse navbar-collapse nav-uppercase mob-navbar-collapse-dark" aria-expanded="false">
                        <!-- Begin navbar-nav
                                        ======================
                                        -->
                        <ul class="nav navbar-nav navbar-right nav-pills">
                            <li class="active"><a class="mlc sm-scroll" href="#intro">Home</a></li>
                            <li><a class="mlc sm-scroll" href="#about">About</a></li>
                            <li><a class="mlc sm-scroll" href="#skills">Skills</a></li>
                            <li><a class="mlc sm-scroll" href="#services">Services</a></li>
                            <li><a class="mlc sm-scroll" href="#portfolio">Portfolio</a></li>
                            <li><a class="mlc sm-scroll" href="#contact">Contact</a></li>
                        </ul>
                        <!-- End navbar-nav -->
                    </div>
                    <!-- End nav main -->
                </nav>
                <!-- End navbar -->
            </div>
        </div>
        <!-- End header content -->
    </header>
    <!-- End header -->

    {{{body}}}


    <!-- ===================
          ///// Begin footer /////
          ========================
          -->
    <footer id="footer" class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright small text-center">
                        <a href="#">DEV POINT TECH</a>
                        <p>Copyright 2016. All Rights Reserved</p>
                    </div>
                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </footer>
    <!-- End footer -->
    <!-- Scroll to top button -->
    <a href="#body-content" class="scrolltotop sm-scroll bg-main"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- End body content -->

<!-- ====================
    ///// Scripts below /////
    ===================== -->

<!-- Core JS -->
<script src="/assets/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/ytplayer/js/jquery.mb.YTPlayer.min.js"></script>
<script src="/assets/vendor/wow.min.js"></script>
<script src="/assets/vendor/owl-carousel/js/owl.carousel.js"></script>
<script src="/assets/vendor/owl-carousel/js/owl.carousel.plugins.js"></script>
<script src="/assets/vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/vendor/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/imagesloaded.pkgd.min.js"></script>
<script src="/assets/vendor/smoothscroll.js"></script>
<script src="/assets/vendor/jquery.easing.min.js"></script>
<script src="/assets/js/theme.js"></script>
</body>
<!-- End body -->
</html>
