<div class="container-fluid">
    <section id="home">
        <div class="box">
            <h1 class="section-title" style="text-align:center">[[user.firstName]] - Welcome to Your DevPoint Dashboard</h1>
        </div>
    </section>

  {{> about}}
  {{> services}}
  {{> skills}}
  {{> portfolio}}
  {{> footer}}


</div>

{{#section 'script'}}
    <!--<script>-->
    <!--$('form[name=add-service]').submit(function () {-->

    <!--$.post($(this).attr('action'), $(this).serialize(), function (res) {-->
    <!--$(".response").html("It worked");-->
    <!--$(".services").html(res);-->
    <!--});-->

    <!--return false; // prevent default action-->
    <!--});-->
    <!--</script>-->
    <script>
        $(".services").on("click", ".delete-service", function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'get',
                success: function (res) {
                    $(".services").html(res);
                },
                error: function (res) {
                    console.log(res)
                }
            });

            return false;
        })

        var getItem = function (itemName, cb) {
            $.ajax({
                url: "/"
            })
        }
    </script>
    <script>
        $(".portfolio").on("click", ".delete-portfolio", function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'get',
                success: function (res) {
                    $(".portfolio").html(res);
                },
                error: function (res) {
                    console.log(res)
                }
            });

            return false;
        })
    </script>
{{/section}}

