<div class="container">
    <section id="about">
        <div class="box">
            <h1 class="section-title">Welcome to Your DevPoint Dashboard</h1>
        </div>
    </section>
  {{> services}}
  {{> portfolio}}
</div>

{{#section 'script'}}
    <script>
        $('form[name=add-service]').submit(function () {

            $.post($(this).attr('action'), $(this).serialize(), function (res) {
                $(".response").html("It worked");
                $(".services").html(res);
            });

            return false; // prevent default action
        });
    </script>
    <script>
        $(".services").on("click", ".delete-service", function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'get',
                success: function (res) {
                    $(".services").html(res);
                },
                error: function (res) {
                    console.log(res)
                }
            });

            return false;
        })
    </script>
    <script>
        $('form[name=add-project]').submit(function () {

            $.post($(this).attr('action'), $(this).serialize(), function (res) {
                $(".response").html("It worked");
                $(".portfolio").html(res);
            });

            return false; // prevent default action
        });
    </script>
    <script>
        $(".porfolio").on("click", ".delete-portfolio", function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'get',
                success: function (res) {
                    $(".portfolio").html(res);
                },
                error: function (res) {
                    console.log(res)
                }
            });

            return false;
        })
    </script>
{{/section}}

