<div  ng-app="myApp" ng-controller="services" >
    <label>Name:[[firstName]]</label>
    <input type="text" ng-model="firstName" placeholder="Enter a name here">
    <hr>
    <h1 ng-repeat="x in services">[[x.name]]</h1>
</div>
