<div class="container">
    <section id="add-service" >
        <div class="box">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="section-title">Login</h2>
                </div>
            </div>


            <div class="divide30"></div>
            <div class="form-container">

                <form class="" action="/auth/login" method="post" name="add-service">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-row text-input-row">
                                    <label>Username</label>
                                    <input type="text" name="username" class="text-input defaultText required"/>
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-row text-input-row">
                                    <label>Password</label>
                                    <input type="password" name="password" class="text-input defaultText required"/>
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="button-row pull-right">
                                    <input type="submit" value="Login" name="submit" class="btn btn-submit bm0" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.form-container -->

        </div>
        <!-- /.box -->
    </section>
    <!-- /#contact -->


</div>

