<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content box">
      <h2 class="section-title">Add Service</h2>

      <div class="divide30"></div>
      <div class="form-container">
        <div class="response alert alert-success"></div>
        <form class="" action="/admin/createService" method="post" name="add-service">
          <fieldset>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-row text-input-row">
                  <label>Title</label>
                  <input type="text" name="title" class="text-input defaultText required"/>
                </div>
                <div class="form-row text-input-row">
                  <label>Icon</label>

                  <select name="icon">
                    <option value="budicon-code">budicon-code</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 lp5">
                <div class="form-row text-area-row">
                  <label>Description</label>
                  <textarea name="description" class="text-area required"></textarea>
                </div>
                <div class="form-row hidden-row">
                  <input type="hidden" name="hidden" value=""/>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="button-row pull-right">
                  <input type="submit" value="Create" name="submit" class="btn btn-submit bm0"/>
                </div>
              </div>
              <div class="col-sm-6 lp5">
                <div class="button-row pull-left">
                  <input type="reset" value="Clear" name="reset"
                         class="btn btn-submit bm0 create-service"/>
                </div>
              </div>
              <input type="hidden" name="v_error" id="v-error" value="Required"/>
              <input type="hidden" name="v_email" id="v-email" value="Enter a valid email"/>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
