<div id="add-project" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <section>
            <div class="modal-content box">
                <h2 class="section-title">[[newItemMethod]] Project</h2>

                <div class="divide30"></div>
                <div class="form-container">
                    <div class="response alert alert-success"></div>
                    <form class="" ng-submit="createItem('project')">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-row text-input-row">
                                        <label>Name</label>
                                        {{!-- <label>[[newItem.name]]</label> --}}
                                        <input type="text" name="name" class="text-input defaultText required" ng-model="newItem.name"/>
                                    </div>

                                     <div class="form-row text-input-row">
                                        <label>GitHub Link</label>
                                        {{!-- <label>[[newItem.github]]</label> --}}
                                        <input type="text" name="github" class="text-input defaultText required" ng-model="newItem.github"/>
                                    </div>

                                     <div class="form-row text-input-row">
                                        <label>Live Demo Link</label>
                                        {{!-- <label>[[newItem.liveDemo]]</label> --}}
                                        <input type="text" name="liveDemo" class="text-input defaultText required" ng-model="newItem.liveDemo"/>
                                    </div>

                                     <div class="form-row text-input-row">
                                        <label>Other</label>
                                       {{!--  <label>[[newItem.other]]</label> --}}
                                        <input type="text" name="other" class="text-input defaultText required" ng-model="newItem.other"/>
                                    </div>

                                     <div class="form-row text-input-row">
                                        <label>Image Link</label>
                                        {{!-- <label>[[newItem.image]]</label> --}}
                                        <input type="text" name="image" class="text-input defaultText required" ng-model="newItem.image"/>
                                    </div>
                               
                                </div>

                                <div class="col-sm-12 lp5">
                                    <div class="form-row text-area-row">
                                        <label>Description</label>
                                        <textarea name="description" class="text-area required" ng-model="newItem.description"></textarea>
                                    </div>
                                    <div class="form-row hidden-row">
                                        <input type="hidden" name="hidden" value=""/>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="button-row pull-right">
                                        <input type="submit" value="Create" name="submit" class="btn btn-submit bm0"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 lp5">
                                    <div class="button-row pull-left">
                                        <input type="reset" value="Clear" name="reset"
                                               class="btn btn-submit bm0 create-service"/>
                                    </div>
                                </div>
                                <input type="hidden" name="v_error" id="v-error" value="Required"/>
                                <input type="hidden" name="v_email" id="v-email" value="Enter a valid email"/>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </section>
    </div>
</div>


