<div class="modal fade">
    <div class="modal-dialog">
        <!-- Modal content-->
        <section>
            <div class="modal-content box">
                <div class="modal-body">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">[[method]] Service </h2>
                </div>
                <div class="modal-body">
                    <form class="" ng-submit="createItem('services')">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Name</label>
                                    <input type="text" name="name" class="text-input defaultText required" ng-model="curItem.name" />
                                    <label>Icon: <i class="[[curItem.icon]]"></i> </label>
                                    <select name="icon" ng-model="curItem.icon">
                                        <option value="[[x.class]]" ng-repeat="x in icons">[[x.name]]</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label>Description</label>
                                    <body ng-controller="formValidation">
                                    <div ng-form="serviceForm">
                                        <textarea ng-maxlength="150" ng-model="curItem.description"></textarea>
                                        <p>Max Characters of 150</p>
                                    </div>
                                    </body>
                                </div>
                                <div class="col-sm-6">
                                    <div class="button-row pull-right">
                                        <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                                <div class="col-sm-6 lp5">
                                    <div class="button-row pull-left">
                                        <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal" ng-disabled="!serviceForm.$valid">[[method]]</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
